{extend name="base/bootstrap"/}
{block name="body"}

    <div class="container-fluid">
        <div class="indexImg row">
            <img src="/static/home/image/3.png" width="100%" />
        </div>
        <div class="blank"></div>
        <div class="container">
            <ul class="list-group fuwuList">
                <li class="list-group-item"><a href="diaochawenjuan.html" class="text-danger"><span class="iconfont">&#xe604;</span>调查问卷</a> </li>
                <li class="list-group-item"><a href="{:url('home/my/yezhurenzheng')}" class="text-info"><span class="iconfont">&#xe605;</span>业主认证</a></li>
                <li class="list-group-item"><a href="#" class="text-success"><span class="iconfont">&#xe602;</span>在线缴费</a></li>
                <li class="list-group-item"><a href="notice.html" class="text-warning"><span class="iconfont">&#xe601;</span>生活贴士</a></li>
                <li class="list-group-item"><a href="about.html" class="text-primary"><span class="iconfont">&#xe600;</span>关于我们</a></li>
            </ul>
        </div>
    </div>
{/block}